# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# Reports — keep the pre-generated report for deployment
# reports/*.csv

# OS Files
.DS_Store
Thumbs.db

data/*.csv
reports/*.csv